{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>Poke Masters</title>
</head>
<body>
        <nav>
            <!-- Logo -->
            <a class="navbar-brand" href="#"><img src="{% static 'img/logoBlack.png' %}" alt="Logo" width="150" height="150" class="d-inline-block align-text-top"></a>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>

                {% if user.is_authenticated %}
                <li>
                    <a href="/">Cerrar sesion</a>
                </li>
                <li>
                    <a href="/profile">Perfil</a>
                </li>
                {% else %}
                <li>
                    <a href="/register">Registro</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                
                {% endif %}
            </ul>
        </nav>
</div>
</nav>

    {% block content %}

    {% endblock %}

    {% include 'footer.html' %} 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

