{% extends 'base.html' %}

{% block content %}
{{error}}
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <h1 class="text-center">Iniciar Sesion</h1>
        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
            {% if field.field.required %}
            <input class="form-control" type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.auto_id }}" required>
            {% else %}
            <input class="form-control" type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.auto_id }}">
            {% endif %}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% if field.errors %}
            <div class="alert alert-danger mt-2">
                {% for error in field.errors %}
                <p class="mb-0">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-warning mb-5">Enviar</button>
  </form>
</div> 
{% endblock %}


